@media (max-width:950px){
    .novedades{
        height: 200px;
        width: 200px;
    }

    .novedades img{
        width: 200px;
    }
    .novedades h2{
        font-size: 16px;
    }
    .novedades p{
        display: none;
    }
}