.fondo-principal{
    background-color: black;
    background-image: url(../assets/imagenes.figma/imagenDeFondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.fondo-cb{
    background-color: black;
    background-image: url(../assets/imagenes.figma/imagenDeFondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.fondo-cb{
    background-color: black;
    background-image: url(../assets/motos.cb/fondo\ cb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 160% 100%;
}
.fondo-cbr{
    background-color: black;
    background-image: url(../assets/motos.cbr/fondo\ cbr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 160% 100%;
}
.fondo-crf{
    background-color: black;
    background-image: url(../assets/motos.crf/fondo\ crf.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 160% 100%;
}
.fondo-xr{
    background-color: black;
    background-image: url(../assets/motos.xr/fondo\ xr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 160% 100%;
}
.fondo-form{
    background-image: linear-gradient(to right bottom, #e30514, #e52123, #e63130, #e73e3c, #e74948, #ed5847, #f26545, #f77345, #fc8a36, #fca326, #f5bd18, #e9d619);
}

